.nav__list {
  position: absolute;
  bottom: 0;
  position: fixed;
  font-size: 1.2rem;
  display: flex;
  width: 100vw;
  height: 12vw;
  background-color: var(--primary-color);
  justify-content: space-around;
  border-top: solid 2px var(--primary-contrast-color);
  align-items: center;
}

ion-icon {
  font-size: 32px;
}
