.nav_area {
  width: 100vw;
  height: 7vh;
  position: absolute;
  bottom: 0px;
  background-color: white;
}

.nav_list {
  list-style-type: none;
  font-size: 1.2rem;
  align-items: stretch;
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: 7vh;
  align-items: center;
  justify-items: center;
  column-gap: 5px;
}
