.content-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question__card {
  width: 70vw;
  height: 30vh;
  margin-top: 20%;
  display: flex;
  background-color: var(--primary-color);
  color: var(--primary-contrast-color);
  padding: 1rem;
  border-radius: 2rem;
  flex-direction: column;
}

.question__headline {
  align-self: flex-start;
}

.question__text {
  margin-top: 1rem;
}

.answer__button {
  width: fit-content;
  align-self: center;
  margin-top: 1rem;
}

.bookmark {
  width: 40px;
  align-self: flex-end;
  position: relative;
  top: -40px;
}

.bookmark:hover {
  pointer-events: fill red;
  cursor: pointer;
}
