#html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

:root {
  --primary-color: teal;
  --primary-contrast-color: white;
}

main {
  margin-bottom: 10rem;
}

li {
  list-style: none;
}

.hover--effekt:hover {
  cursor: pointer;
}
